footer{
    padding-top: 40px;
    padding-bottom: 20px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include media(sm){
            flex-direction: column;

        }
        .Logo{
            svg{
                display: flex;
                height: auto;
                width: 8em;
            }
            @include media(sm){
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                svg{
                    width: 5em;
                }

            }
        }

        .Info{
            @include media(sm){
                margin-top: 2rem;
            }
            p{
                font-size: .9em;
                color: $white;
                text-align: center;
            }
        }
    }
}